# Web framework
fastapi
uvicorn[standard]
gunicorn

# Database
sqlalchemy
asyncpg
psycopg2-binary
nest_asyncio
# Config
python-dotenv
pydantic[email]

# HTTP Client & Async
httpx

# Data & ML
pandas
scikit-learn
joblib
dill
mlflow
mlflow[langchain]
boto3

# LangChain & RAG
langchain
langchain-openai
langchain-core
langchain-community
langgraph
langsmith
openai
sentence-transformers
pgvector

# Auth & Security
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# CORS & File
aiofiles

# PDF Parsing (Optional)
PyMuPDF

# Test (Optional)
pytest

# external api
yfinance
wikipedia