# Airflow Providers
apache-airflow-providers-postgres>=5.0.0
apache-airflow-providers-http
airflow-provider-mlflow==1.1.0

# External API
requests
openai
praw
yfinance

# for json 
python-dateutil
simplejson

# Postgres 
psycopg2-binary

# .env 支援
python-dotenv

# NLP & ML 
transformers 
torch 
langdetect 
scikit-learn 
bertopic 
hf_xet
tiktoken>=0.5.1
nltk
